.formulario{
    display:flex;
    justify-content: center;
    ;}
.formulario form {
    max-width: 80%;
    background-color: #f7f7f7;
    box-shadow: 7px 7px 15px rgba(0,0,0,0.08);
    border-radius: 20px;
    padding: 0px 100px;
}